<%- include('partials/header') %>

<main class="container center">
  <div class="thankyou-box">
    <h1>Thank You!</h1>
    <p>Your message has been received. We’ll get back to you soon.</p>
    <a href="/" class="btn">Back to Home</a>
  </div>
</main>

<%- include('partials/footer') %>
