<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer class="site-footer">
  <div class="footer-content">
    <div class="footer-left">
      <img src="/images/gauteng-logo.png" alt="Gauteng Logo" class="footer-logo">
      <p>Connecting communities across Gauteng.<br> © <%= new Date().getFullYear() %> Gauteng.gov.za</p>
    </div>
    <div class="footer-links">
      <h4>Quick Links</h4>
      <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/events">Events</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/thankyou">Get Involved</a></li>
      </ul>
    </div>
    <div class="footer-social">
      <h4>Follow Us</h4>
      <div class="social-icons">
        <a href="#"><img src="/icons/facebook.svg" alt="Facebook"></a>
        <a href="#"><img src="/icons/twitter.svg" alt="Twitter"></a>
        <a href="#"><img src="/icons/instagram.svg" alt="Instagram"></a>
      </div>
    </div>
  </div>
</footer>
</body>
</html>