<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    <footer class="site-footer">
  <div class="footer-content">
    <div class="footer-left">
      <img src="/images/Quateng.png" alt="Gauteng Logo" class="footer-logo">
      <p>Connecting communities across Gauteng.<br> © <%= new Date().getFullYear() %> Gauteng.gov.za</p>
    </div>
    <div class="footer-links">
      <h4>Quick Links</h4>
      <ul>
    <% quickLinks.forEach(link => { %>
      <li><a href="<%= link.url %>"><%= link.name %></a></li>
    <% }); %>
  </ul>
      
    </div>
    <div class="footer-social">
      <h4>Follow Us</h4>
      <div class="social-icons">
        <a href="#"><img src="/images/Facebook.png" alt="Facebook"></a>
        <a href="#"><img src="/images/Twitter.png" alt="Twitter"></a>
        <a href="#"><img src="/images/instagram.png" alt="Instagram"></a>
      </div>
    </div>
  </div>
</footer>
</body>
</html>