<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/header.css" />
  </head>
  <body>
    <header id="header" class="light">
      <a href="/"
        ><img src="/images/Quateng.png" alt="Community logo" id="logo"
      /></a>
      <nav class="nav">
        <% quickLinks.forEach(link => { %>
           <a href="<%= link.url %>" id="<%=link.name%>"><%= link.name %></a>
        <% }); %>
        
      </nav>
    </header>
  </body>
</html>
