#wrapper {
  margin: auto 0;
  display: grid;
  grid-template-rows: repeat(5, auto);
  gap: 1rem;
  padding: 1rem;
  background-color: aliceblue;
}

.about-community .content {
  display: flex;
  flex-direction: row;
  text-align: left;
  background-color: lightblue;
  align-items: center;
  gap: 2rem;
}

.about-community .content p {
  flex: 1;
}

.about-community .content img {
  width: 300px;
  height: auto;
  display: block;
}

.leader {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: rgb(59, 133, 158);
  padding: 0.5rem;
}

.leader h4 {
  font-style: italic;
}

.leader img {
  display: block;
  width: 300px;
  height: auto;
  padding: 0.5rem;
}

.leader div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.team-members {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  background-color: lightblue;
  padding: 0.5rem;
}

.team-members h4 {
  font-style: italic;
}

.member {
  background-color: white;
  padding: 0.5rem;
  text-align: center;
}

.member img {
  display: block;
  margin: 0 auto;
  width: 250px;
  height: auto;
  padding: 0.5rem;
}
