body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    padding: 0;
}

.form-container{
    width:90%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

form div{
    margin-bottom: 20px;
}

label{
    display: block;
    font-weight: 500;
    color: #1f1e1e;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
}

/* Submit button */
button[type="submit"] {
  display: block;
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

