<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<link rel="stylesheet" href="/css/PageTitle.css">
<link rel="stylesheet" href="/css/contact.css">
<script>
  function validateForm(){
    let userName= document.forms['contactForm']['name'].value;
    let userEmail= document.forms['contactForm']['email'].value;
    let userMessage=document.forms['contactForm']['message'].value;
    
    if(userName.trim() ==="" || !/^[A-Za-z\s]+$/.test(userName)){
      alert("Please fill in your Name.");
      return false;
    }
      if(userEmail.trim() ==="" || !/^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/.test(userEmail)){
      alert("Incorrect format. Please fill in your email correctly.");
      return false;
    }
     if(userMessage ==="" ){
      alert("Please type in a message about the organization.");
      return false;
    }
  }
</script>
<body>
  <%- include('../partials/header') %>
   <div id="Page-title">
        <div>
            <h1>Feel free to interact with us!!</h1>
            <p>Please fill in your contact details if you are interested in future events</p>
        </div>
        <div id="top-style"></div>
    </div>
   <div class="wrapper">
<div class="form-container">
  <h1>Contact Us</h1><br>
<form name="contactForm" onsubmit="return validateForm()" method="POST" action="/contact">
  <div>
  <label for="Name">Name:</label><br>
  <input type="text" name="name" placeholder="Your Name" required /><br />
  </div>

  <div>
  <label for="Email">Email:</label><br>
  <input type="email" name="email" placeholder="Your Email" required /><br />
  </div>

  <div>
  <label for="Message">Message:</label><br>
  <textarea name="message" placeholder="Enter a Message" required></textarea><br />
  </div>

  <button type="submit">Send</button>
</form>
</div> 
</div>
<%- include('../partials/footer') %>
</body>
</html>

