<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/event.css" />
    <link rel="stylesheet" href="/css/PageTitle.css" />
  </head>
  <body>
    <%- include('../partials/header') %>
    <!--Inserts the navigation bar from the header.ejs-->
    <div id="Page-title">
      <div>
        <h1>Welcome to Gauteng's Community portal!</h1>
        <p>
          A central hub for staying informed, engaged, and connected. Explore
          upcoming events, community news, and opportunities to get involved
          with neighbours and local initiatives.
        </p>
      </div>
      <div id="top-style"></div>
    </div>
    <section id="Event-section">
      <!-- The section displays the upcomming event-->
      <h1>Upcoming community event in Gauteng...</h1>
      <div class="event-wrapper">
        <div class="event-container" id="Temporary-display">
          <!--Contains all the information about the upcomming event-->
          <img
            src=""
            alt="Event Image"
            class="event-image"
            id="Temporary-image"
          />
          <div class="event-info">
            <h2 class="event-title" id="Temporary-title"></h2>
            <p class="event-date" id="Temporary-date"></p>
            <p class="event-location" id="Temporary-location"></p>
            <p class="event-description" id="Temporary-description"></p>
          </div>
        </div>
      </div>
    </section>
    <%- include('../partials/footer') %>
    <!--Inserts the footer with all of the links from the footer.ejs-->

    <script src="/scripts/home.js"></script>
  </body>
</html>
